.title-color {
  color: #00823d;
  font-weight: bold;
}
  
.container-fluid {
  padding: 50px;
}

.card {
  padding: 20px;
}

.btn-primary {
  background-color: #565f5a;
  border-color: #00823d;
}

.btn-primary:hover {
  background-color: #23c55f;
  border-color: #23c55f;
}

i{
  color: #ffffff;
}