<p-toast>
  <ng-template let-message pTemplate="message">
    <div *ngIf="message.detail === 'contact-update'; else defaultMessage">
      <strong>{{ message.summary }}</strong>
      <p class="message-content">
        Por favor, actualice la 
        <a href="javascript:void(0)" (click)="scrollToContact()">información de contacto</a>
        requerida por la Ley 2300.
      </p>
    </div>
    <ng-template #defaultMessage>
      <p>{{ message.detail }}</p>
    </ng-template>
  </ng-template>
</p-toast>
<div class="container mt-5 mb-3">
  <h1>Actualización de Información</h1>
  <p>Los campos con <span class="required-label"></span> son obligatorios</p>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Información Básica
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
      >
        <div class="accordion-body">
          <app-user></app-user>
        </div>
      </div>
    </div>

    <div id="contact-section" class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-target="#collapseContact"
          aria-expanded="true"
          aria-controls="collapseContact"
        >
          Autorización de Contacto (Ley 2300 de 2023)
        </button>
      </h2>
      <div
        id="collapseContact"
        class="accordion-collapse collapse show"
      >
        <div class="accordion-body">
          <app-contact (notifyParent)="showContactNotification()"></app-contact>
        </div>
      </div>
    </div>    

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Información General
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse show"
      >
        <div class="accordion-body">
          <app-natural-person></app-natural-person>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Información Financiera
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse show"
      >
        <div class="accordion-body">
          <app-financial-info [actualizarPerfilFecha]="true"></app-financial-info>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Información Núcleo Familiar
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse show"
      >
        <div class="accordion-body">
          <app-family-information [actualizarPerfilFecha]="true"></app-family-information>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Información Referencias
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse show"
      >
        <div class="accordion-body">
          <app-recommendation [actualizarPerfilFecha]="true"></app-recommendation>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-target="#collapseSix"
          aria-expanded="false"
          aria-controls="collapseSix"
        >
          Información Operaciones Internacionales
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse show"
      >
        <div class="accordion-body">
          <app-international-transactions></app-international-transactions>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-target="#collapseSeven"
          aria-expanded="false"
          aria-controls="collapseSeven"
        >
          Información Personas Publicamente Expuestas
        </button>
      </h2>
      <div
        id="collapseSeven"
        class="accordion-collapse collapse show"
      >
        <div class="accordion-body">
          <app-public-person></app-public-person>
        </div>
      </div>
    </div>
  </div>
</div>