<div class="upload-container">
    <h2>Subir saldos créditos vigentes</h2>
    <input type="file" (change)="onCreditFileSelected($event)" />
    <button (click)="onCreditFileUpload()" [disabled]="!selectedCreditFile">Upload</button>
    <p *ngIf="creditMessage">{{ creditMessage }}</p>
</div>

<div class="upload-container">
    <h2>Subir saldos ahorros vigentes</h2>
    <input type="file" (change)="onSavingFileSelected($event)" />
    <button (click)="onSavingFileUpload()" [disabled]="!selectedSavingFile">Upload</button>
    <p *ngIf="savingMessage">{{ savingMessage }}</p>
</div>

<div class="upload-container">
    <h2>Subir montos maximos de ahorro</h2>
    <input type="file" (change)="onMaxAmountFileSelected($event)" />
    <button (click)="onMaxAmountFileUpload()" [disabled]="!selectedMaxAmountFile">Upload</button>
    <p *ngIf="maxAmountMessage">{{ maxAmountMessage }}</p>
</div>