<p-toast></p-toast>
<div class="container mt-5">
    <h1>Cargue de Archivos planos</h1>

    <h5>Cargar saldos créditos vigentes</h5>
    <div class="input-group mb-3">
        <input type="file" class="form-control" (change)="onFileSelected($event, 'credit')" aria-label="Upload">
        <button class="btn btn-outline-secondary" type="button" (click)="onFileUpload('credit')" 
            [disabled]="!selectedFiles['credit']">Cargar Archivo</button>
    </div>
    <div class="progress mb-3">
        <div class="progress-text">{{ progress['credit'] }}%</div> <!-- Progreso centrado -->
        <div class="progress-bar" role="progressbar" 
             [style.width.%]="progress['credit']"></div>
    </div>

    <h5>Cargar saldos ahorros vigentes</h5>
    <div class="input-group mb-3">
        <input type="file" class="form-control" (change)="onFileSelected($event, 'saving')" aria-label="Upload">
        <button class="btn btn-outline-secondary" type="button" (click)="onFileUpload('saving')"
            [disabled]="!selectedFiles['saving']">Cargar Archivo</button>
    </div>
    <div class="progress mb-3">
        <div class="progress-text">{{ progress['saving'] }}%</div>
        <div class="progress-bar" role="progressbar" 
             [style.width.%]="progress['saving']"></div>
    </div>

    <h5>Cargar montos máximos de ahorro</h5>
    <div class="input-group mb-3">
        <input type="file" class="form-control" (change)="onFileSelected($event, 'maxAmount')" aria-label="Upload">
        <button class="btn btn-outline-secondary" type="button" (click)="onFileUpload('maxAmount')"
            [disabled]="!selectedFiles['maxAmount']">Cargar Archivo</button>
    </div>
    <div class="progress mb-3">
        <div class="progress-text">{{ progress['maxAmount'] }}%</div>
        <div class="progress-bar" role="progressbar" 
             [style.width.%]="progress['maxAmount']"></div>
    </div>
</div>
