h1, h2, h3, h4 {
    color: #00823d;
}

.bi {
    font-size: 1.5rem;
}

.btn {
    background-color: #00823d;
    border-color: #00823d;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.options{
    height: 80px;
}

.btn .icon {
    color: white;
}

.btn:hover {
    background-color: #23c55f;
    border-color: #23c55f;
}

.btn:hover .icon {
    color: white;
}

.card {
    height: 100%;
}

.card-header {
    background-color: #00823d;
    color: white;
}

.list-group-item {
    display: flex;
    align-items: center;
}

.list-group-item .bi {
    margin-right: 10px;
}

.credit-line {
    text-align: center;
}

.credit-line h5{
    padding: 10px;
}

.credit-line img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    object-fit: cover;
}

.button-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media (max-width: 992px) {
    .options{
        height: 50px;
        width: auto;
    }
}