<div class="container mt-5">
    <h1>Información sobre sus ahorros obligatorios</h1>
    <div class="card mt-3">
        <div class="card-body">
            <p-table [value]="requiredSavingsBalance" [tableStyle]="{'min-width': '40rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="idLineaAhorroObligatoria" style="width:30%">
                            Línea Ahorro <p-sortIcon field="idLineaAhorroObligatoria" />
                        </th>
                        <!--<th pSortableColumn="ahorroQuincenal">
                            Ahorro Quincenal <p-sortIcon field="ahorroQuincenal" />
                        </th>-->
                        <th pSortableColumn="valorSaldo">
                            Saldo Ahorro <p-sortIcon field="valorSaldo" />
                        </th>
                        <th pSortableColumn="fechaCorte">
                            Fecha Corte <p-sortIcon field="fechaCorte" />
                        </th>
                        <th pSortableColumn="actualizadoEl">
                            Fecha Actualización <p-sortIcon field="actualizadoEl" />
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-saving>
                    <tr>
                        <td>{{ saving.lineaAhorroNombre }}</td>
                        <!--<td>{{ saving.ahorroQuincenal }}</td>-->
                        <td>{{ saving.valorSaldo }}</td>
                        <td>{{ saving.fechaCorte | date:'dd/MM/yyyy' }}</td>
                        <td>{{ saving.actualizadoEl | date:'dd/MM/yyyy' }}</td>
                    </tr>
                </ng-template>
            </p-table>
            <div *ngIf="!requiredSavingsBalance || requiredSavingsBalance.length === 0" class="text-center mt-3">
                No hay ahorros obligatorios disponibles.
            </div>
        </div>
    </div>
</div>