.card {
    width: 80%;
}

.credit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}