<div class="container text-center content-animate">
    <h1 class="title-color mt-5">¡Bienvenido a FemSeapto!</h1>
</div>

<div class="container mt-2 mb-5 content-animate">
    <div class="row">

        <!-- Card de Servicios de Crédito -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="card shadow h-100">
                <h4 class="card-header text-center">
                    Servicios de Crédito
                </h4>
                <div class="card-body d-flex justify-content-center align-items-center">
                    <a class="btn btn-primary me-2 mb-1" routerLink="/auth/admin/credits">Revisar solicitudes de crédito</a>
                </div>
            </div>
        </div>

        <!-- Card de Servicios de Ahorro -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="card shadow h-100">
                <h4 class="card-header text-center">
                    Servicios de Ahorro
                </h4>
                <div class="card-body d-flex justify-content-center align-items-center">
                    <a class="btn btn-primary me-2 mb-1" routerLink="/auth/admin/savings">Revisar solicitudes de ahorro</a>
                    <a class="btn btn-primary me-2 mb-1" routerLink="/auth/admin/savings-withdrawals">Revisar solicitudes de retiro de ahorro</a>
                </div>
            </div>
        </div>

        <!-- Card de Reportes -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="card shadow h-100">
                <h4 class="card-header text-center">
                    Reportes
                </h4>
                <div class="card-body d-flex justify-content-center align-items-center">
                    <a class="btn btn-primary me-2 mb-1" routerLink="/auth/admin/reports">Descargar datos de asociados</a>
                </div>
            </div>
        </div>

        <!-- Card de Gestión de Usuarios -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="card shadow h-100">
                <h4 class="card-header text-center">
                    Gestión de Usuarios
                </h4>
                <div class="card-body d-flex justify-content-center align-items-center">
                    <a class="btn btn-primary me-2 mb-1" routerLink="/auth/admin/manage/executive">Administrar usuarios</a>
                </div>
            </div>
        </div>

        <!-- Card de Subir Archivos Planos -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="card shadow h-100">
                <h4 class="card-header text-center">
                    Cargue de Archivos Planos
                </h4>
                <div class="card-body d-flex justify-content-center align-items-center">
                    <a class="btn btn-primary me-2 mb-1" routerLink="/auth/admin/upload-data">Subir archivos planos</a>
                </div>
            </div>
        </div>

        <!-- Card de Informes -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="card shadow h-100">
                <h4 class="card-header text-center">
                    Informes, Actas de Junta y Comité
                </h4>
                <div class="card-body d-flex justify-content-center align-items-center">
                    <a class="btn btn-primary me-2 mb-1" routerLink="/auth/admin/upload">Subir informes y actas</a>
                    <a class="btn btn-primary me-2 mb-1" routerLink="/auth/admin/download">Descargar informes y actas</a>
                </div>
            </div>
        </div>
    </div>
</div>