<div class="container mt-5 mb-5">
  <h2 class="text-center mb-3">¡Conoce nuestra línea de créditos!</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col">
      <a routerLink="/services/credits">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/ahorroExtraordinario.jpg" class="card-img-top" alt="...">
          <a class="card-action">
            <i class="bi bi-house-heart-fill"></i>
          </a>
          <div class="card-body">
            <h5 class="card-title">Crédito Vivienda</h5>
            <p class="card-text">Ten la oportunidad de adquirir vivienda propia o realizar mejoras de tu hogar.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/services/credits">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/ahorroExtraordinario.jpg" class="card-img-top" alt="...">
          <a class="card-action">
            <i class="bi bi-house-heart-fill"></i>
          </a>
          <div class="card-body">
            <h5 class="card-title">Crédito Vehículo</h5>
            <p class="card-text">Adquiere el vehículo que siempre has deseado.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/services/credits">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/ahorroExtraordinario.jpg" class="card-img-top" alt="...">
          <a class="card-action">
            <i class="bi bi-house-heart-fill"></i>
          </a>
          <div class="card-body">
            <h5 class="card-title">Crédito de Libre Inversión</h5>
            <p class="card-text">Solicita fondos para cubrir tus necesidades sin tener que justificar su destino.</p>
          </div>
        </div>
      </a>  
    </div>
    <div class="col">
      <a routerLink="/services/credits">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/ahorroExtraordinario.jpg" class="card-img-top" alt="...">
          <a class="card-action">
            <i class="bi bi-house-heart-fill"></i>
          </a>
          <div class="card-body">
            <h5 class="card-title">Crédito para Educación</h5>
            <p class="card-text">Adelanta tus estudios superiores aportando a tu desarrollo personal y laboral.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="d-grid gap-2 mt-3 mx-auto">
    <button class="btn btn-primary" routerLink="/services/credits">Ver más servicios de crédito</button>
  </div>
</div>