  .speedDial {
    position: fixed;
    bottom: 230px;
    right: 100px;
    z-index: 1000;
  }
  
  .speedDial .p-speeddial-button {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50% !important;
    padding: 0 !important;
  }

  .speedDial .p-speeddial-action {
    background-color: #23c55f !important;
    color: #ffffff !important;
    border-radius: 50% !important;
  }
  a{
    text-decoration: none !important; 
  }
.custom-tooltip .p-tooltip-text {
  background-color: #fab600;
  color: #000000; 
  padding: 5px 10px; 
  border-radius: 5px; 
  font-size: 14px; 
}
.custom-tooltip .p-tooltip-arrow {
  border-left-color: #fab600;
}
