/* .whatsapp-floating {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .whatsapp-floating img {
    width: 80%;
    transition: transform 0.3s ease;
  }
  
  .whatsapp-floating:hover img {
    transform: scale(1.1);
  } */

  .speedDial {
    position: fixed;
    bottom: 230px;
    right: 100px;
    z-index: 1000;
  }
  
  .speedDial .p-speeddial-button {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50% !important;
    padding: 0 !important;
  }

  .speedDial .p-speeddial-action {
    background-color: #ffffff !important; /* Fondo blanco para las opciones */
    color: #000000 !important; /* Color del icono */
    border-radius: 50% !important;
  }
  a{
    text-decoration: none !important; 
  }