  .speedDial {
    position: fixed;
    bottom: 230px;
    right: 100px;
    z-index: 1000;
  }
  
  .speedDial .p-speeddial-button {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50% !important;
    padding: 0 !important;
  }

  .speedDial .p-speeddial-action {
    background-color: #23c55f !important;
    color: #ffffff !important;
    border-radius: 50% !important;
  }
  a{
    text-decoration: none !important; 
  }