<p-speedDial 
    class="speedDial"
    [model]="items" 
    showIcon="pi pi-whatsapp"
    radius="120"
    direction="up" 
    type="linear" 
    buttonClassName="p-button-success">
    <ng-template let-item pTemplate="item">
        <button 
            pButton 
            [icon]="item.icon" 
            (click)="navigate(item.url)"
            pTooltip="{{ item.tooltip }}" 
            tooltipPosition="left"
            tooltipStyleClass="custom-tooltip"
            class="p-speeddial-action p-button-success">
        </button>
    </ng-template>
</p-speedDial>
