<div class="container text-center content-animate">
    <h1 class="title-color mt-5">Bienvenido a FemSeapto</h1>
    <p class="username lead">{{ userInfo?.nombres }} {{ userInfo?.primerApellido }} {{ userInfo?.segundoApellido }} </p>
</div>

<div class="container mt-2 content-animate">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <div class="card text-center h-100">
                <div class="card-header">
                    Mi Perfil
                </div>
                <div class="card-body">
                    <h5 class="card-title">Actualizar mis datos personales</h5>
                    <a routerLink="/user/MyInformation" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <div class="card text-center h-100">
                <div class="card-header">
                    Servicios de ahorro
                </div>
                <div class="card-body">
                    <h5 class="card-title">Conoce los servicios de ahorro</h5>
                    <a class="btn btn-primary" routerLink="/services/savings">Ver más</a>
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <div class="card text-center h-100">
                <div class="card-header">
                    Servicios de credito
                </div>
                <div class="card-body">
                    <h5 class="card-title">Conoce los servicios de credito</h5>
                    <a class="btn btn-primary" routerLink="/services/savings">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>