<div class="container mt-5 mb-5">
  <h2 class="text-center mb-3">¡Conoce nuestra línea de ahorros!</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col">
      <a routerLink="/services/credits">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/femseapto/ahorroVivienda.webp" class="card-img-top img-custom" alt="...">
          <a class="card-action">
            <i class="bi bi-house-heart-fill"></i>
          </a>
          <div class="card-body mt-2">
            <h5 class="card-title">Ahorro Vivienda</h5>
            <p class="card-text">Ahorra para la compra de tu vivienda o para realizar mejoras en tu hogar.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/services/credits">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/femseapto/ahorroNavideño.webp" class="card-img-top img-custom" alt="...">
          <a class="card-action">
            <i class="bi bi-house-heart-fill"></i>
          </a>
          <div class="card-body mt-2">
            <h5 class="card-title">Ahorro Navideño</h5>
            <p class="card-text">Asegura tu tranquilidad y disfruta de unas fiestas navideñas.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/services/credits">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/femseapto/ahorroVacacional.webp" class="card-img-top img-custom" alt="...">
          <a class="card-action">
            <i class="bi bi-house-heart-fill"></i>
          </a>
          <div class="card-body mt-2">
            <h5 class="card-title">Ahorro Vacacional</h5>
            <p class="card-text">Disfruta de tus momentos de descanso sin estrés, planifica con anticipación y haz realidad tus sueños de viaje.</p>
          </div>
        </div>
      </a>  
    </div>
    <div class="col">
      <a routerLink="/services/credits">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/femseapto/ahorroExtraordinario.webp" class="card-img-top img-custom" alt="...">
          <a class="card-action">
            <i class="bi bi-house-heart-fill"></i>
          </a>
          <div class="card-body mt-2">
            <h5 class="card-title">Ahorro Extraordinario</h5>
            <p class="card-text">Asegura tu tranquilidad y protección financiera con un fondo de emergencia confiable.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>