<div class="container">
    <div class="text-center content-animate">
        <h1 class="title-color fw-bold mt-5 mb-5">¡Sobre nosotros!</h1>
    </div>

    <div class="card shadow text-center">
        <div class="row align-items-center">
            <div class="col-lg-6 d-flex justify-content-center">
                <img class="img-fluid" src="../../../assets/team.png" alt="Nuestro equipo">
            </div>
            <div class="col-lg-6 col-12 text-center mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h2 class="fw-bold title-color">
                    ¡Conócenos!
                </h2>
                <div class="p-1">
                    <p class="first-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt at lectus quis
                        hendrerit. Praesent eu nisi lorem. Suspendisse quis dolor sodales, aliquet sem eu, tincidunt
                        enim. Mauris bibendum tellus eu purus rhoncus, sed luctus turpis pharetra. Sed et metus eget
                        enim porttitor dictum ut at massa. Sed augue velit, feugiat luctus ornare vel, bibendum id
                        urna. Sed posuere enim nibh, vel faucibus turpis blandit a. Nullam in purus a turpis porta
                        ullamcorper vitae ut sapien. Duis fermentum pretium eleifend. Sed suscipit sagittis sapien
                        in rhoncus. Nulla facilisi. Proin non purus diam.</p>
                </div>
            </div>
        </div>
    </div>    

    <!-- MISION -->

    <div class="text-center content-animate">
        <h1 class="title-color fw-bold mt-5">Nuestra misión</h1>
    </div>
    <div class="m-3">
        <p class="small-text">Mejorar la calidad de vida de los asociados mediante la promoción del ahorro, la
            prestación de servicios
            de crédito y el desarrollo de actividades de bienestar, optimizando sus condiciones sociales, culturales
            y económicas a través de la administración eficaz de sus recursos.</p>
    </div>

    <!-- VISION -->

    <div class="text-center content-animate">
        <h1 class="title-color fw-bold mt-5">Nuestra visión</h1>
    </div>
    <div class="m-3">
        <p class="small-text">Ser reconocido en el 2026 como la primera y mejor alternativa en la oferta de servicios
            de ahorro, crédito y bienestar social para los asociados.</p>
    </div>

    <!-- VALORES CORPORATIVOS -->

    <div class="text-center content-animate">
        <h1 class="title-color fw-bold mt-5">Nuestros valores corporativos</h1>
    </div>
    <div class="m-3">
        <p class="small-text">Trabajar bajo los principios cooperativos y solidarios, buscando que las acciones se
            caractericen por un actuar ético y sostenible.</p>
    </div>
    <div class="d-flex justify-content-center align-items-center mb-4">
        <p-galleria [value]="images" [circular]="true" [autoPlay]="true" [transitionInterval]="3000"
            [containerStyle]="{ 'max-width': '640px' }" [showItemNavigators]="true" [showThumbnails]="false"
            [responsiveOptions]="responsiveOptions">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
            </ng-template>
            <ng-template pTemplate="caption" let-item>
                <h4 style="margin-bottom: .5rem; color: #ffffff;">
                    {{ item.title }}
                </h4>
                <p>{{ item.alt }}</p>
            </ng-template>
        </p-galleria>
    </div>

    <!-- PRINCIPIOS CORPORATIVOS -->

    <div class="text-center content-animate">
        <h1 class="title-color fw-bold mt-5">Nuestros principios corporativos</h1>
    </div>
    <div class="card shadow">
        <p-carousel [value]="principles" [numVisible]="numVisible" [numScroll]="numScroll" [circular]="true"
            [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
            <ng-template let-principles pTemplate="item">
                <p-card class="border-1 surface-border border-round p-3">
                    <div class="mb-3">
                        <div class="relative mx-auto">
                            <p-tag class="absolute" [ngStyle]="{ 'left.px': 5, 'top.px': 5 }"></p-tag>
                        </div>
                    </div>
                    <div class="title-color text-center h5 mb-3 font-medium">{{ principles.name }}</div>
                    <div
                        class="flex justify-content-between align-items-center text-align-center card-text mt-0 font-semibold text-xl text-center">
                        {{ principles.description }}
                    </div>
                </p-card>
            </ng-template>
        </p-carousel>
    </div>

    <!-- Objetivos estrategicos y grupos de interes -->
    <div class="row">
        <div class="col-lg-6 mt-4">
            <div class="card shadow">
                <div class="card-header fw-bold text-center h3">
                    Objetivos Estrategicos
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush card-text text-start">
                        <li class="list-group-item"><i class="bi bi-emoji-smile-fill"></i> Implementar programas de bienestar social</li>
                        <li class="list-group-item"><i class="bi bi-cash-stack"></i> Mantener la solidez financiera del Fondo</li>
                        <li class="list-group-item"><i class="bi bi-graph-down-arrow"></i> Mantener entre 0 y 3% la Cartera Morosa Según los indicadores financieros establecidos por el Superintendencia de Economía Solidaria</li>
                        <li class="list-group-item"><i class="bi bi-graph-up-arrow"></i> Aumentar la base social</li>
                        <li class="list-group-item"><i class="bi bi-buildings-fill"></i> Fomentar el ahorro</li>
                        <li class="list-group-item"><i class="bi bi-megaphone-fill"></i> Fortalecer los medios de comunicación</li>
                        <li class="list-group-item"><i class="bi bi-person-workspace"></i> Incrementar el uso de los servicios</li>
                        <li class="list-group-item"><i class="bi bi-people-fill"></i> Mejorar el nivel de competencia y desempeño de empleados</li>
                        <li class="list-group-item"><i class="bi bi-exclamation-diamond-fill"></i> Fortalecer el Sistema de Gestión del Riesgo</li>
                        <li class="list-group-item"><i class="bi bi-building-fill-gear"></i> Fortalecer la cultura organizacional</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-4">
            <div class="card shadow">
                <div class="card-header fw-bold text-center h3">
                    Grupos De Interés
                </div>
                <div class="card-body">
                    FEMSEAPTO debe mantener relaciones armónicas, constructivas y transparentes con los siguientes públicos:
                    <ul class="list-group list-group-flush card-text text-start">
                        <li class="list-group-item"><i class="bi bi-person-arms-up"></i> Asociados</li>
                        <li class="list-group-item"><i class="bi bi-briefcase-fill"></i> Empleados</li>
                        <li class="list-group-item"><i class="bi bi-box-seam-fill"></i> Proveedores</li>
                        <li class="list-group-item"><i class="bi bi-building-fill-check"></i> Empresas generadoras de vinculo</li>
                        <li class="list-group-item"><i class="bi bi-people-fill"></i> Comunidad en general</li>
                        <li class="list-group-item"><i class="bi bi-buildings-fill"></i> Estado</li>
                        <li class="list-group-item"><i class="bi bi-shop"></i> Competidores</li>
                        <li class="list-group-item"><i class="bi bi-sign-stop-fill"></i> Organismos de control</li>
                        <li class="list-group-item"><i class="bi bi-credit-card-2-back-fill"></i> Acreedores</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>