<div class="card">
  <p-table
    #dt2
    [value]="users"
    styleClass="p-datatable-striped"
    [paginator]="true"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [lazy]="true"
    (onLazyLoad)="
      loadUsers(
        ($event.first ?? 0) / ($event.rows ?? 10) + 1,
        $event.rows ?? 10
      )
    "
    [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="[
      'usuario'
    ]"
    [tableStyle]="{ 'min-width': '75rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <button
          class="btn btn-success m-2"
          (click)="createUser()"
          data-bs-toggle="modal"
          data-bs-target="#userModal"
        >
          Crear Administrador
        </button>
        <!--<p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            (input)="onFilterGlobal($event)"
            placeholder="Buscar palabra clave"
          />
        </p-iconField>-->
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10%">Usuario</th>
        <th style="width: 20%">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          {{ user.usuario }}
        </td>
        <td>
          <button
            class="btn btn-warning btn-sm me-2"
            (click)="changeState(user.id)"
          >
            {{ user.activo ? "Deshabilitar" : "Habilitar" }}
          </button>
          <button
            class="btn btn-primary btn-sm"
            (click)="editUser(user.id)"
            data-bs-toggle="modal"
            data-bs-target="#userModal"
          >
            Editar
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No se encontraron usuarios con el rol de administrador.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="userModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Información del Usuario
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="formReset()"
        ></button>
      </div>
      <form [formGroup]="editUserForm" (ngSubmit)="submit()">
        <div class="modal-body">
          <div class="row g-3">
            <input type="hidden" formControlName="id" />
            <div class="col-md-8">
              <label for="usuario" class="form-label">Usuario</label>
              <input
                type="text"
                id="usuario"
                class="form-control"
                formControlName="usuario"
                placeholder="Escribe el usuario para iniciar sesión"
              />
            </div>
            <div class="col-md-6">
              <label for="contrasenia" class="form-label"
                >Contraseña</label
              >
              <input
                type="password"
                id="contrasenia"
                class="form-control"
                formControlName="contrasenia"
                placeholder="Escribe la contraseña"
              />
            </div>
            <div class="col-md-4">
              <label for="activo" class="form-label">Activo</label>
              <select id="activo" class="form-select" formControlName="activo">
                <option [value]="1">Sí</option>
                <option [value]="0">No</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="formReset()"
          >
            Cerrar
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="editUserForm.invalid"
            data-bs-dismiss="modal"
          >
            {{ isEditMode ? "Guardar Cambios" : "Crear Usuario" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Modal -->