<p-toast></p-toast>

<div class="container mt-5 px-3 px-md-4 px-lg-5">
  <h1>Solicitud de Retiro de Ahorros</h1>
  <p>Este es el módulo de solicitud de retiro de ahorros. Primero, complete o actualice su información según sea necesario. Después de hacerlo, proceda a solicitar el ahorro.</p>
  <p>Para solicitar un retiro de ahorros, primero asegúrese de presionar el botón de <strong>"Guardar"</strong> si ha realizado alguna edición o actualización en cualquier campo. Esto es importante porque la información actualizada será utilizada para la solicitud de retiro de ahorros. Luego, proceda a solicitar el retiro de ahorros.</p>

  <app-info-request-saving></app-info-request-saving>

  <h5 class="mt-3">Información de Solicitud de Retiro de Ahorros</h5>
  <div class="alert alert-warning" role="alert" *ngIf="displayMessage">
    <strong>{{ displayMessage }}</strong>. De no hacerlo, no podrá completar la solicitud de retiro de ahorros, ya que esta información es necesaria.
  </div>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="savingWdRequestForm" (ngSubmit)="submit()" [attr.disabled]="isAdditionalDisabled ? true : null">
        <input type="hidden" formControlName="id" />

        <div class="row mb-3">
          <label for="idLineaAhorro" class="form-label">1. ¿De las siguientes líneas de ahorro en las que usted tiene fondos, desea realizar un retiro de dinero?</label>
          <div class="col-md-12">
            <div class="form-check" *ngFor="let line of savingLines">
              <input class="form-check-input" type="radio" formControlName="idLineaAhorro" [value]="line.id" id="line-{{line.id}}">
              <label class="form-check-label" for="line-{{line.id}}">
                {{ line.nombre }}
              </label>
            </div>
            <div class="alert alert-info" role="alert" *ngIf="!savingLines || savingLines.length === 0">
              No tienes líneas de ahorros registradas o todas las líneas tienen saldos en cero.
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <label for="montoRetirar" class="form-label">2. ¿Cuál es el monto que desea retirar de la línea seleccionada?</label>
          <div class="col-md-12">
            <p-inputNumber
              formControlName="montoRetirar" 
              inputId="currency-co" 
              mode="currency" 
              currency="COP" 
              locale="es-CO"
              [ngClass]="'custom-input'"
              [class.is-invalid]="savingWdRequestForm.get('montoRetirar')?.errors?.['insufficientFunds']" />
            <div *ngIf="savingWdRequestForm.get('montoRetirar')?.errors?.['insufficientFunds']" class="invalid-feedback">
              El monto a retirar no puede superar el saldo disponible de {{ availableBalance }}.
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <label for="banco" class="form-label">3. Escriba el nombre del banco en el que tenga registrada una cuenta para la consignación del dinero.</label>
          <div class="col-md-12">
            <input formControlName="banco" type="text" class="form-control" id="banco"/>
          </div>
        </div>

        <div class="row mb-3">
          <label for="numeroCuenta" class="form-label">4. Escriba el número de cuenta para la consignación del dinero.</label>
          <div class="col-md-12">
            <input formControlName="numeroCuenta" type="text" class="form-control" id="numeroCuenta"/>
          </div>
        </div>

        <!--<div class="row mb-3">
          <label for="devolucionCaja" class="form-label">5. ¿Requiere la devolución en efectivo? Si selecciona 'Sí', el nombre del banco y el número de cuenta proporcionados no serán tenidos en cuenta.</label>
          <div class="col-md-12">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="devolucionCaja" value="SI" id="devolucionCajaSI">
              <label class="form-check-label" for="devolucionCajaSI">Sí</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="devolucionCaja" value="NO" id="devolucionCajaNO">
              <label class="form-check-label" for="devolucionCajaNO">No</label>
            </div>
          </div>
        </div>-->

        <div class="row mb-3">
          <label for="continuarAhorro" class="form-label">5. ¿Desea continuar con el ahorro en esta línea?</label>
          <div class="col-md-12">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="continuarAhorro" value="SI" id="continuarAhorroSI">
              <label class="form-check-label" for="continuarAhorroSI">Sí</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="continuarAhorro" value="NO" id="continuarAhorroNO">
              <label class="form-check-label" for="continuarAhorroNO">No</label>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <label for="observaciones" class="form-label">6. Observaciones</label>
          <div class="col-md-12">
            <div class="form-floating">
              <textarea class="form-control" placeholder="Observaciones" formControlName="observaciones" id="observaciones" style="height: 150px"></textarea>
              <label for="observaciones">(Opcional) Escriba si tiene alguna observación</label>
            </div>
          </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-primary" [disabled]="savingWdRequestForm.invalid  || isAdditionalDisabled || isLoading" type="submit">
            <span *ngIf="!isLoading">Enviar solicitud</span>
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="isLoading"> Enviando...</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-generate-saving-withdrawal-request
  *ngIf="savingWithdrawalRequest.id !== 0"
  [userId]="savingWithdrawalRequest.idUsuario"
  [savingWdRequestId]="savingWithdrawalRequest.id"
  #generateSavingWithdrawalRequestComponent
  style="display: none;"
></app-generate-saving-withdrawal-request>