<div class="container mt-5">
  <h1>Solicitudes de Crédito</h1>
  <app-credit-report/>
  <div class="card">
    <p-table
      #dt2
      [value]="creditRequests"
      dataKey="id"
      styleClass="p-datatable-striped"
      [paginator]="true"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [loading]="loading"
      [lazy]="true"
      (onLazyLoad)="
        loadCreditRequests(
          ($event.first ?? 0) / ($event.rows ?? 10) + 1,
          $event.rows ?? 10
        )
      "
      [rowsPerPageOptions]="[10, 25, 50]"
      [globalFilterFields]="[
        'id',
        'numeroDocumento',
        'nombreAsociado',
        'montoSolicitado',
        'plazoQuincenal',
        'valorCuotaQuincenal',
        'nombreLineaCredito',
        'tasaInteres',
        'fechaSolicitud',
      ]"
      [tableStyle]="{ 'min-width': '75rem' }"
    >
      <!--<ng-template pTemplate="caption">
        <div class="flex">
          <p-iconField iconPosition="left" class="ml-auto">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input
              pInputText
              type="text"
              (input)="onFilterGlobal($event)"
              placeholder="Buscar palabra clave"
            />
          </p-iconField>
        </div>
      </ng-template>-->
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5%">No.</th>
          <th style="width: 10%">No. Documento</th>
          <th pSortableColumn="nombreAsociado" style="width: 15%">
            Nombre Completo <p-sortIcon field="nombreAsociado" />
          </th>
          <th style="width: 15%">Monto Solicitado</th>
          <th pSortableColumn="plazoQuincenal" style="width: 5%">Plazo Quincenal <p-sortIcon field="plazoQuincenal" /></th>
          <th style="width: 10%">Valor Cuota Quincenal</th>
          <th pSortableColumn="nombreLineaCredito" style="width: 20%">
            Linea de Crédito <p-sortIcon field="nombreLineaCredito" />
          </th>
          <th style="width: 5%">Tasa de Interés(%)</th>
          <th style="width: 20%">Fecha de Solicitud</th>
          <th style="width: 20%">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-creditRequest>
        <tr>
          <td>{{ creditRequest.id }}</td>
          <td>{{ creditRequest.numeroDocumento }}</td>
          <td>{{ creditRequest.nombreAsociado }}</td>
          <td>{{ creditRequest.montoSolicitado }}</td>
          <td>{{ creditRequest.plazoQuincenal }}</td>
          <td>{{ creditRequest.valorCuotaQuincenal }}</td>
          <td>{{ creditRequest.nombreLineaCredito }}</td>
          <td>{{ creditRequest.tasaInteres }}</td>
          <td>{{ creditRequest.fechaSolicitud | date : "dd/MM/yyyy" }}</td>
          <td>
            <app-generate-credit-request
              [userId]="creditRequest.idUsuario"
              [idSolicitudCredito]="creditRequest.id"
            ></app-generate-credit-request>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">No se encontraron solicitudes de crédito.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>