.table {
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #dee2e6;
}

.page-link {
  cursor: pointer;
}

h1 {
  color: #00823d;
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .input-container {
    flex-direction: row;
  }
}

.input-item {
  flex: 1;
  min-width: 150px;
}

.button {
  background-color: rgba(250, 182, 0, 1);
  border-color: rgba(250, 182, 0, 1);
  color: white;
}