<p-toast>
    <ng-template let-message pTemplate="message">
      <div *ngIf="message.detail === 'contact-update';">
        <strong>{{ message.summary }}</strong>
        <p class="message-content">
          Por favor, actualice la 
          <a href="javascript:void(0)" (click)="scrollToSection()">información de contacto</a>
          requerida por la Ley 2300.
        </p>
      </div>
    </ng-template>
  </p-toast>  
<form [formGroup]="selectForm" (ngSubmit)="onSubmit()">
    <div class="row g-3">
        <div class="col-md-12">
            <label class="form-label required-label">De conformidad con la Ley 2300 de 2023,
                autorizo a FEMSEAPTO, o a quien este delegue, para realizar gestiones de cobranza y,
                en general, contactarme a través de cualquiera de los siguientes canales:</label>

            <div *ngIf="isLoading" class="text-center">
                <p>Cargando opciones...</p>
            </div>

            <div *ngIf="!isLoading">
                <div *ngFor="let option of options" class="form-check">
                    <input class="form-check-input" type="checkbox" [value]="option.nombre"
                        [checked]="selectedOptions.includes(option.nombre)" (change)="onCheckboxChange($event)" />
                    <label class="form-check-label">
                        {{ option.nombre }}
                    </label>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-success" [disabled]="selectForm.invalid || isLoading || isSubmitting" type="submit">
                <ng-container *ngIf="!isSubmitting; else loading">
                    Guardar
                </ng-container>
                <ng-template #loading>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Guardando...
                </ng-template>
            </button>
        </div>
    </div>
</form>