<p-toast></p-toast>
<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <div class="card shadow mb-3" style="max-width: 600px;">
      <div class="row g-0">
        <div class="col-md-4">
          <ng-lottie class="animacion" [options]="options" width="200px"></ng-lottie>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title text-center">Iniciar Sesión</h5>
            <form class="row g-3" (ngSubmit)="onLogin()">
              <div class="col-md-12">
                <label class="form-label">Usuario</label>
                <input type="email" class="form-control" [(ngModel)]="usuario" name="usuario" placeholder="Número de documento">
              </div>
              <div class="col-md-12">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" [(ngModel)]="contrasenia" name="contrasenia" placeholder="********">
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Ingresar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>