<p-toast></p-toast>
<form [formGroup]="financialForm" (ngSubmit)="onSubmit()">
  <div class="row g-3">
    <div class="col-md-6">
      <label for="nombreBanco" class="form-label">Nombre del Banco</label>
      <input formControlName="nombreBanco" type="text" class="form-control" />
    </div>
    <div class="col-md-6">
      <label for="idTipoCuentaBanc" class="form-label">Tipo de Cuenta Bancaria</label>
      <select class="form-select" formControlName="idTipoCuentaBanc">
        <option value="" disabled selected>Seleccione..</option>
        <option *ngFor="let type of bankAccountTypes" [value]="type.id">
          {{ type.nombre }}
        </option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="numeroCuentaBanc" class="form-label">Número de Cuenta Bancaria</label>
      <input formControlName="numeroCuentaBanc" type="text" class="form-control" />
    </div>
    <div class="col-md-6">
      <label for="ingresosMensuales" class="form-label">Ingresos Mensuales</label>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input 
          type="text" 
          class="form-control" 
          formControlName="ingresosMensuales" 
          (input)="formatCurrency('ingresosMensuales')" 
          aria-label="Ingresos Mensuales">
      </div>
    </div>    
    <div class="col-md-6">
      <label for="primaProductividad" class="form-label">Prima de Productividad</label>
      <br>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input 
          type="text" 
          class="form-control" 
          formControlName="primaProductividad" 
          (input)="formatCurrency('primaProductividad')" 
          aria-label="Prima de Productividad">
      </div>
    </div>
    <div class="col-md-6">
      <label for="otrosIngresosMensuales" class="form-label">Otros Ingresos Mensuales</label>
      <br>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input 
          type="text" 
          class="form-control" 
          formControlName="otrosIngresosMensuales" 
          (input)="formatCurrency('otrosIngresosMensuales')" 
          aria-label="Otros Ingresos Mensuales">
      </div>
    </div>
    <div class="col-md-6">
      <label for="conceptoOtrosIngresosMens" class="form-label">Concepto de Otros Ingresos Mensuales</label>
      <input placeholder="Solo si tiene otros ingresos" formControlName="conceptoOtrosIngresosMens" type="text" class="form-control" />
    </div>
    <div class="col-md-6">
      <label for="totalIngresosMensuales" class="form-label">Total de Ingresos Mensuales</label>
      <br>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input 
          type="text" 
          class="form-control" 
          formControlName="totalIngresosMensuales" 
          (input)="formatCurrency('totalIngresosMensuales')" 
          aria-label="Total Ingresos Mensuales">
      </div>
    </div>
    <div class="col-md-6">
      <label for="egresosMensuales" class="form-label">Egresos Mensuales</label>
      <br>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input 
          type="text" 
          class="form-control" 
          formControlName="egresosMensuales" 
          (input)="formatCurrency('egresosMensuales')" 
          aria-label="Egresos Mensuales">
      </div>
    </div>
    <div class="col-md-6">
      <label for="obligacionFinanciera" class="form-label">Obligación Financiera</label>
      <br>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input 
          type="text" 
          class="form-control" 
          formControlName="obligacionFinanciera" 
          (input)="formatCurrency('obligacionFinanciera')" 
          aria-label="Obligación Financiera">
      </div>
    </div>
    <div class="col-md-6">
      <label for="otrosEgresosMensuales" class="form-label">Otros Egresos Mensuales</label>
      <br>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input 
          type="text" 
          class="form-control" 
          formControlName="otrosEgresosMensuales" 
          (input)="formatCurrency('otrosEgresosMensuales')" 
          aria-label="Otros Egresos Mensuales">
      </div>
    </div>
    <div class="col-md-6">
      <label for="totalEgresosMensuales" class="form-label">Total de Egresos Mensuales</label>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input 
          type="text" 
          class="form-control" 
          formControlName="totalEgresosMensuales" 
          (input)="formatCurrency('totalEgresosMensuales')" 
          aria-label="Total Egresos Mensuales">
      </div>
    </div>
    <div class="col-md-6">
      <label for="totalActivos" class="form-label">Total de Activos</label>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input 
          type="text" 
          class="form-control" 
          formControlName="totalActivos" 
          (input)="formatCurrency('totalActivos')" 
          aria-label="Total Activos">
      </div>
    </div>
    <div class="col-md-6">
      <label for="totalPasivos" class="form-label">Total de Pasivos</label>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input 
          type="text" 
          class="form-control" 
          formControlName="totalPasivos" 
          (input)="formatCurrency('totalPasivos')" 
          aria-label="Total Pasivos">
      </div>
    </div>
    <div class="col-md-6">
      <label for="totalPatrimonio" class="form-label">Total de Patrimonio</label>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input 
          type="text" 
          class="form-control" 
          formControlName="totalPatrimonio" 
          (input)="formatCurrency('totalPatrimonio')" 
          aria-label="Total Patrimonio">
      </div>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-success" [disabled]="financialForm.invalid || isSubmitting" type="submit">
        <ng-container *ngIf="!isSubmitting; else loadingTemplate">
          Guardar Información Financiera
        </ng-container>
        <ng-template #loadingTemplate>
          <span class="spinner-border spinner-border-sm"></span>
          Cargando...
        </ng-template>
      </button>
    </div>
  </div>
</form>