<div class="container mt-3">
    <div class="row align-items-start">

        <!-- CARD DE INFO -->
        <div class="col-md-12">
            <div class="card text-center mt-3 shadow">
                <div class="card-header">
                    <h3>¡Conoce nuestros servicios de ahorro!</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            LISTA DE SERVICIOS
                        </div>
                        <p-divider layout="vertical" />
                        <div class="col-md-6">
                            
                        </div>
                    </div>
                    <h5 class="mt-3">Ahorra y prográmate libremente para que cumplas tus sueños.</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card text-center mt-3 shadow">
                <div class="card-header p-0">
                    <a href="">
                        <img src="../../../../../assets/ahorroExtraordinario.jpg" alt="">
                    </a>
                </div>
                <div class="card-body">
                    
                    <h5>Ahorra y prográmate libremente para que cumplas tus sueños.</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center mt-3">
                <div class="card-header">
                    <h2>Buenas tardes</h2>
                </div>
                <div class="card-body">
                    <h2>Buenas tardes</h2>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center mt-3">
                <div class="card-header">
                    <h2>Ahorro Extraordinario</h2>
                </div>
                <div class="card-body">
                    <a href="">
                        <img src="" alt="">
                    </a>
                    <h5>Ahorra y prográmate libremente para que cumplas tus sueños.</h5>
                </div>
            </div>
        </div>
    </div>
</div>