<div class="container mt-5 mb-5">
  <h2 class="text-center mb-3">¡Conoce nuestra línea de ahorros!</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-md-3">
      <a routerLink="/services/credits">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/ahorroExtraordinario.jpg" class="card-img-top" alt="...">
          <div class="icon">
            <i class="bi bi-house-heart-fill"></i>
          </div>
          <div class="card-body mt-2">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a routerLink="/services/credits">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/ahorroExtraordinario.jpg" class="card-img-top" alt="...">
          <div class="icon">
            <i class="bi bi-house-heart-fill"></i>
          </div>
          <div class="card-body mt-2">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a short card.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a routerLink="/services/credits">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/ahorroExtraordinario.jpg" class="card-img-top" alt="...">
          <div class="icon">
            <i class="bi bi-house-heart-fill"></i>
          </div>
          <div class="card-body mt-2">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </a>  
    </div>
    <div class="col-md-3">
      <a routerLink="/services/credits">
        <div class="card h-100 shadow text-center">
          <img src="../../../../../assets/ahorroExtraordinario.jpg" class="card-img-top" alt="...">
          <div class="icon">
            <i class="bi bi-house-heart-fill"></i>
          </div>
          <div class="card-body mt-2">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>