.fondo {
    position: relative;
    width: 100%;
    height: 100vh;
}

.fondo:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0.6;
    background-image: url('../../../../../assets/ahorroExtraordinario.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 20rem;
    background-color: transparent;
}