.container {
  max-width: 600px;
  margin: auto;
}

.form-control.ng-touched.ng-invalid {
  border-color: #dc3545;
}

.text-danger {
  font-size: 0.875em;
}

h1, h5 {
  color: #00823d;
  font-weight: bold;
}