<div class="container mt-5">
  <h1>Solicitudes de Ahorro</h1>
  <div class="card">
    <p-table
      #dt2
      [value]="savingRequests"
      styleClass="p-datatable-striped"
      [paginator]="true"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [loading]="loading"
      [lazy]="true"
      (onLazyLoad)="
        loadSavingRequests(
          ($event.first ?? 0) / ($event.rows ?? 10) + 1,
          $event.rows ?? 10
        )
      "
      [rowsPerPageOptions]="[10, 25, 50]"
      [globalFilterFields]="[
        'id',
        'numeroDocumento',
        'montoTotalAhorrar',
        'quincena',
        'mes',
        'fechaSolicitud'
      ]"
      [tableStyle]="{ 'min-width': '75rem' }"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <p-iconField iconPosition="left" class="ml-auto">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input
              pInputText
              type="text"
              (input)="onFilterGlobal($event)"
              placeholder="Buscar palabra clave"
            />
          </p-iconField>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">No.</th>
          <th style="width: 10%">No. Documento</th>
          <th style="width: 15%">Monto Total Ahorrar</th>
          <th style="width: 15%">Quincena</th>
          <th style="width: 15%">Mes</th>
          <th style="width: 15%">Fecha de Solicitud</th>
          <th style="width: 20%">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-savingRequest>
        <tr>
          <td>{{ savingRequest.id }}</td>
          <td>{{ savingRequest.numeroDocumento }}</td>
          <td>{{ savingRequest.montoTotalAhorrar }}</td>
          <td>{{ savingRequest.quincena }}</td>
          <td>{{ savingRequest.mes }}</td>
          <td>{{ savingRequest.fechaSolicitud | date : "dd/MM/yyyy" }}</td>
          <td>
            <app-generate-saving-request
              [userId]="savingRequest.idUsuario"
              [idSolicitudAhorro]="savingRequest.id"
            ></app-generate-saving-request>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">No se encontraron usuarios.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>