
    <p-carousel [value]="images" [numVisible]="numVisible" [numScroll]="numScroll" [circular]="true"
        [responsiveOptions]="responsiveOptions" autoplayInterval="3000" showIndicators="false">
        <ng-template let-image pTemplate="item">
            <p-card class="carousel-card border-1 surface-border border-round p-2">
                <div class="card-content">
                    <img [src]="image.itemImageSrc" class="carousel-image" alt="{{ image.title }}">
                    <div class="title-container text-center">
                        {{ image.title }}
                    </div>
                </div>
            </p-card>
        </ng-template>
    </p-carousel>

