<form [formGroup]="natPersonForm" (ngSubmit)="onSubmit()">
  <div class="row g-3">
    <input type="hidden" formControlName="id" />
    <div class="col-md-6">
        <label for="idGenero" class="form-label">Género</label>
        <select class="form-select" formControlName="idGenero">
          <option *ngFor="let type of genders" [value]="type.id">
            {{ type.nombre }}
          </option>
        </select>
    </div>
    <div class="col-md-6">
      <label for="idGenero" class="form-label">Primer Nombre</label>
      <input formControlName="idGenero" type="text" class="form-control" />
    </div>
    <div class="col-md-6">
      <label for="fechaExpDoc" class="form-label">Segundo Nombre</label>
      <input formControlName="fechaExpDoc" type="text" class="form-control" />
    </div>
    <div class="col-md-6">
      <label for="mpioExpDoc" class="form-label">Primer Apellido</label>
      <input
        formControlName="mpioExpDoc"
        type="text"
        class="form-control"
      />
    </div>
    <div class="col-md-6">
      <label for="segundoApellido" class="form-label">Segundo Apellido</label>
      <input
        formControlName="segundoApellido"
        type="text"
        class="form-control"
      />
    </div>
    
    <div class="col-md-6">
      <label for="numeroDocumento" class="form-label"
        >Número de documento</label
      >
      <input
        formControlName="numeroDocumento"
        type="text"
        class="form-control"
      />
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary me-md-2" type="submit">Guardar</button>
    </div>
  </div>
</form>