.p-fileupload .p-fileupload-buttonbar {
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.p-button{
    border-radius: 6px;
    background-color: #00823d;
    border-color: #00823d;
}

h1 {
    color: #00823d;
    font-weight: bold;
}