nav {
  background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 10;
  font-family: 'inter', sans-serif;
}

.cel {
  display: none;
  filter: drop-shadow(2px 2px 2px rgba(83, 83, 83, 0.534));
}
.pc {
  filter: drop-shadow(2px 2px 2px rgba(83, 83, 83, 0.534));
}

.nav-item a {
  color: black;
  cursor: pointer;
}

i {
  color: #fab600;
}

.menu {
  color: #fab600;
  border: none;
}

@media (max-width: 991px) {
  .contdegradado {
    height: 40px;
  }

  .cel {
    display: block;
  }

  .pc {
    display: none;
  }

  .dropdown-menu {
    background: none;
    border: none;
  }
}
