nav {
  background: linear-gradient(
    to left top,
    #fecc00,
    #fff,
    #fff,
    #fff,
    #fff,
    #fff,
    #fff,
    #fff,
    #fff,
    #fff,
    #fff,
    #fff,
    #00783c
  );
  position: sticky;
  top: 0;
  z-index: 10;
  font-family: 'inter', sans-serif;
}

.cel {
  display: none;
  filter: drop-shadow(2px 2px 2px rgba(83, 83, 83, 0.534));
}
.pc {
  filter: drop-shadow(2px 2px 2px rgba(83, 83, 83, 0.534));
}

.nav-item a {
  color: black;
  cursor: pointer;
}

.contdegradado {
  width: 100%;
  height: 60px;
  background: linear-gradient(to left, #fab600, #00783c);
}

.dropdown-menu {
  background: linear-gradient(to left, #fab70065, #00783c65);
  max-width: 300px;
}

i {
  color: #fab600;
}

.menu {
  color: #fab600;
  border: none;
}

@media (max-width: 991px) {
  .contdegradado {
    height: 40px;
  }

  .cel {
    display: block;
  }

  .pc {
    display: none;
  }

  .dropdown-menu {
    background: none;
    border: none;
  }
}
